/* Common style*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/*Header style*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 17px 0;
}

.logo-part {
  color: #2e2f42;
}

.menu {
  display: none;
}

.contact-block {
  font-style: normal;
  margin-left: auto;
  display: none;
}

.open-menu-btn {
  padding: 0;
  background-color: transparent;
  line-height: 0;
  border: none;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .open-menu-btn {
    display: none;
  }
  .logo {
    margin-right: 120px;
  }
  .menu {
    display: flex;
    gap: 40px;
  }

  .menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }

  .current {
    position: relative;
    color: #404bbf;
  }

  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    background-color: #404bbf;
  }

  .contact-block {
    display: block;
  }

  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contact-list-link {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-list-link:hover,
  .contact-list-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .logo {
    margin-right: 76px;
  }
  .contact-list {
    flex-direction: row;
    gap: 40px;
  }
  .contact-list-link {
    font-size: 16px;
    line-height: 1.5;
  }
}

/*Hero style mobile*/

.main-title {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 216px;
  /* margin-bottom: 72px; */
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  background: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/Dark-bg-mob.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-resolution: 192dpi) and (min-width: 320px) {
  .hero {
    max-width: 320px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/Dark-bgMob@2x.jpg");
  }
}

.service-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  padding: 16px 32px;
  gap: 10px;
  margin: 0 auto;
  display: block;
  align-items: center;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-btn:hover,
.service-btn:focus {
  background: #404bbf;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

/*Hero style tablette*/

@media screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/Dark-bg-tab.jpg");
  }
  .main-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07143;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/tablet/Dark-bgTab@2x.jpg");
  }
}

/*Hero style desktop*/

@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office.jpg");
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px) {
  .hero {
    max-width: 1158px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office@2x.jpg");
  }
}
.main-title {
  margin-bottom: 48px;
}

/*Style benefits mobile*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits {
  padding: 96px 0;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.benefits-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.benefits-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.icon-benefit {
  display: none;
}

.div_icon {
  max-width: 288px;
}

/*Style benefits tablet*/

@media screen and (min-width: 768px) {
  .benefits {
    padding: 96px 0;
  }
  .benefits-list {
    flex-direction: row;
    gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
  }
  .benefits-list-item {
    width: calc((100% - 24px) / 2);
  }
  .benefits-title {
    text-align: left;
  }
}

/*Style benefits desktop*/

@media screen and (min-width: 1158px) {
  .benefits {
    padding: 120px 0;
  }

  .benefits-title {
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }

  .benefits-list {
    gap: 24px;
  }
  .benefits-list-item {
    width: calc((100% - 72px) / 4);
  }

  .benefits-list-text {
    font-weight: 400;
  }
  .div-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    box-sizing: border-box;
    border: 1px solid rgb(142, 143, 153);
    border-radius: 4px;
    background-color: #f4f4fd;
  }
  .icon-benefit {
    display: block;
  }
}

/*Style team mobile*/

.team {
  background: #f4f4fd;
  padding: 96px 0;
}

.team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.team-list-item {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.social-list-team {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  padding-bottom: auto;
}

.social-link-icon-team {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-icon-team:hover,
.social-link-icon-team:focus {
  background-color: #404bbf;
}

.social-list-svg {
  fill: #f4f4fd;
}

.container-meaning {
  padding: 32px 0;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list-fullname {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/*Style team tablet*/

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
}

/*Style team desktop*/

@media screen and (min-width: 1158px) {
  .team-list {
    /* padding-top: 120px;
    padding-bottom: 120px; */
  }
}

/*Style portfolio mobile*/

.portfolio-overlay-text {
  display: none;
}

.portfolio-section {
  padding: 96px 0;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-list-item {
  /* margin-bottom: 48px; */
  width: calc(100% - 24px) / 2;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.wraper {
  border: 1px solid #e7e9fc;
  padding: 32px 16px;
  border-top: none;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

/*Style portfolio tablet*/

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

/*Style portfolio desktop*/

@media screen and (min-width: 1158px) {
  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .overlay-box-img {
    position: relative;
    overflow: hidden;
  }

  .portfolio-overlay-text {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-list-item:hover,
  .portfolio-list-item:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .portfolio-list-item:hover .portfolio-overlay-text,
  .portfolio-list-item:focus .portfolio-overlay-text {
    transform: translateY(0%);
  }

  .portfolio-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/*Style footer mobile*/

.page-footer {
  background: #2e2f42;
  padding: 96px 0 96px;
}

.footer-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-part-footer {
  color: #f4f4fd;
}

.footer-text {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}

.social-list-footer {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.social-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-icon:hover,
.social-link-icon:focus {
  background-color: #31d0aa;
}

.footer-subscription-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}

.subscription-form {
  display: flex;
  flex-wrap: wrap;
}

.subscription-input {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  outline: transparent;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 8px 16px;
}

.subscription-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 0;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  margin: 0 auto;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}

.subscribe-icon {
  margin-left: 16px;
  fill: #fff;
}

/*Style footer tablet*/

@media screen and (min-width: 768px) {
  .footer-container {
    width: 584px;
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .footer-logo {
    display: block;
    text-align: start;
  }

  .footer-text {
    width: 264px;
    text-align: left;
  }

  .box-link {
    display: inline-block;
  }

  .social-text {
    text-align: left;
  }

  .subscription-form {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .footer-subscription-text {
    text-align: start;
  }

  .subscription-input {
    width: 264px;
  }
}

/*Style footer desktop*/

@media screen and (min-width: 1158px) {
  .footer-container {
    width: 1158px;
    display: flex;
    align-items: baseline;
  }

  .footer-subscription {
    margin-top: 72px;
    margin-left: auto;
  }

  .subscription-form {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .footer-logo {
    margin-right: 120px;
  }
  .box-link {
    margin-bottom: 0;
  }

  .subscription-input {
    opacity: 1;
  }
}

/*Style mobile menu*/

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    /* background-color: #fff; */
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
  }

  .mobile-menu-container {
    /* width: 320px; */
    height: 100%;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 72px;
    padding-bottom: 40px;
  }

  .mobile-menu-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    padding: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-menu-close-icon {
    fill: #2e2f42;
  }

  .navigation-menu-mob {
    margin-bottom: auto;
  }

  .mobile-nav-menu {
    display: inline-block;
    margin-left: 0;
  }

  .mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-bottom: 40px;
  }

  .mobile-menu-item {
    margin-bottom: 40px;
  }

  .mobile-menu-item:last-child {
    margin-bottom: 0;
  }

  .mobile-menu-link.mobile-active {
    color: #404bbf;
  }

  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    color: #404bbf;
  }

  .mobile-address-nav {
    margin-bottom: 48px;
  }

  .mobile-address-menu {
    display: block;
    min-width: 193px;
    margin-left: 0;
  }

  .mobile-address-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
  }

  .mobile-address-menu-item {
    margin-bottom: 24px;
  }

  .mobile-address-menu-item:last-child {
    margin-bottom: 0;
  }

  .mobile-address-item.address-active {
    color: #4d5ae5;
  }

  .mobile-address-item:hover,
  .mobile-address-item:focus {
    color: #4d5ae5;
  }

  .mobile-menu-social-list {
    display: flex;
    gap: 40px;
  }
  .mobile-menu-social-list-icon {
    width: 40px;
    height: 40px;
  }

  .mobile-menu-social-list-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-social-list-link:hover,
  .mobile-menu-social-list-link:focus {
    background-color: #31d0aa;
  }

  .mobile-menu-social-icon {
    fill: #f4f4fd;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .mobile-menu {
    display: none;
  }
}

/*Style backdrop*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
}

/*Style modal section*/

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  /* height: 623px;  */
  padding: 72px 16px 24px 16px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}

.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
}

.close-button:hover .close-icon,
.close-button:focus .close-icon {
  fill: #ffffff;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-subscription-form {
  /* max-width: 256px; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}

.modal-form-wrapper {
  margin-bottom: 8px;
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-form-input {
  width: 100%;
  border: 1px solid #4d5ae5;
  border-radius: 4px;
  /* width: 256px; */
  height: 40px;
  background-color: transparent;
  outline: transparent;
  padding-left: 34px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.modal-input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  margin-bottom: 16px;
}

.modal-textarea-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-textarea-comment:hover,
.modal-textarea-comment:focus {
  border-color: #4d5ae5;
}

.modal-checkbox {
  margin-bottom: 24px;
}

.checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  gap: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.modal-checkbox-icon {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  margin: auto;
}

.modal-checkbox-input:checked + .checkbox-label > .modal-checkbox-icon {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-checkbox-link {
  line-height: 1.33;
  text-decoration: underline;
  color: #4d5ae5;
}

.modal-form-subscription-button {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  border: none;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-subscription-button:hover,
.modal-form-subscription-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .modal-container {
    width: 408px;
    height: 584px;
  }
  .checkbox-label {
    display: block;
  }

  /* .modal-form-input {
    width: 360px;
    height: 40px;
  } */

  .modal-checkbox-icon {
    width: 16px;
    margin-right: 6px;
  }
}

@media screen {
  .modal-container {
    width: 408px;
    height: 584px;
  }
}
